docs/discord_webhook

key_log.txt
ServerKeylogger.py
ServerKeylogger.spec

src/KeyLogger/Basic-Keylogger.py
src/KeyLogger/decryptlogs.py
src/KeyLogger/encryption_key.key
src/KeyLogger/KeyStroke Logger.py

src/SystemInfo-Logger/demo.py
src/SystemInfo-Logger/new.py
src/SystemInfo-Logger/Geo-Location.py

.idea/
/build/
/dist/
/.idea/