Basic-Keylogger.py
decryptlogs.py
Geo-Location.py
KeyStroke Logger.py

encryption_key.key
generate_key.py

key_log.txt
ServerKeylogger.py
ServerKeylogger.spec

discord_webhook

demo.py
new.py

.idea/
/build/
/dist/
/.idea/