KeyLogger/Basic-Keylogger.py
KeyLogger/decryptlogs.py
SystemInfo-Logger/Geo-Location.py
KeyLogger/KeyStroke Logger.py

KeyLogger/encryption_key.key
generate_key.py

key_log.txt
ServerKeylogger.py
ServerKeylogger.spec

discord_webhook

SystemInfo-Logger/demo.py
SystemInfo-Logger/new.py

.idea/
/build/
/dist/
/.idea/